# Binaries for programs and plugins
*.exe*
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Bee api
terceros_mid*
.DS_Store
WebIM/WebIM
shorturl/shorturl
todo/todo
*.env
!template.env
lastupdate.*
.vscode
main
.scannerwork/
swagger/**
!swagger/*.json
!swagger/*.yml
swagger.zip
report.xml
